<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Sensor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Adicionar Sensor</h1>
    <div class="form-container">
        <form method="post">
            <label for="endereco_ip">Endereço IP:</label>
            <input type="text" id="endereco_ip" name="endereco_ip" required>
            <label for="maquina">Máquina:</label>
            <select id="maquina" name="maquina" required>
                {% for maquina in maquinas %}
                <option value="{{ maquina[0] }}">{{ maquina[1] }}</option>
                {% endfor %}
            </select>
            <label for="posicao">Posição:</label>
            <select id="posicao" name="posicao" required>
                {% for posicao in posicoes %}
                <option value="{{ posicao[0] }}">{{ posicao[1] }}</option>
                {% endfor %}
            </select>
            <label for="e_superior">É Superior?</label>
            <input type="checkbox" id="e_superior" name="e_superior">
            <input type="submit" value="Adicionar">
        </form>
        <a href="{{ url_for('sensores') }}">Voltar</a>
    </div>
</body>
</html>
