<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Máquina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('homepage') }}" class="back-button">Voltar</a>
    <h1>Editar Máquina</h1>
    <div class="form-container">
    <form method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ maquina[1] }}" required>
        <br>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required>{{ maquina[2] }}</textarea>
        <br>
        <input type="submit" value="Salvar">
    </form>
    <a href="{{ url_for('maquinas') }}">Voltar</a>
</div>
</body>
</html>
