<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Máquinas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('homepage') }}" class="back-button">Voltar</a>
    <h1>Máquinas</h1>
    <a href="{{ url_for('adicionar_maquina') }}">Adicionar Máquina</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
        {% for maquina in maquinas %}
        <tr>
            <td>{{ maquina[0] }}</td>
            <td>{{ maquina[1] }}</td>
            <td>{{ maquina[2] }}</td>
            <td>
                <a href="{{ url_for('editar_maquina', id=maquina[0]) }}">Editar</a> |
                <a href="{{ url_for('remover_maquina', id=maquina[0]) }}">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
